<!doctype html>
<html>

<head>
<title> Finanzas Americanas </title>

 <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-    BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-  Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <meta name = "viewport" content = "width = device-width">

</head>

<body>
<center><h1> Gastos del Mes {{ returning[0] }} </h1></center>
<hr>
<br>



<form action="" method="post">
<table align="center" border = "0" width="600">

{% for each in returning[1] %}
{% set comparador = each[0] %}
<tr><td colspan = "4" align="center" height="120">
  <font size="7" color = "blue">{{ each[1] }}</font>
</td></tr> 
  <tr>
    <td height="60" align="center"><b>ID</b></td>
    <td height="60" align="center"><b>Descripcion</b></td>
    <td height="60" align="center"><b>Precio</b></td>
    <td height="60" align="center"><b>Fecha</b></td>
  </tr>
  
  {% set sumador = [] %}
  {% for each2 in returning[2] %}  

    {% if each2[4] == comparador %}

      
       <tr>
       <td align="center" height="40"> {{ each2[0] }} </td>
       <td align="center" height="40"> {{ each2[1] }} </td>
       <td align="center" height="40"> ${{ each2[2] }} </td>
       <td align="center" height="40"> {{ each2[3] }} </td>
       </tr>

  {% if sumador.append(each2[2]) %}{% endif %}
  
    
    {% endif %}
  
  {% endfor %}
        
        <tr><td>.</td></tr><tr><td>.</td></tr>     
        <tr>
        <td align="center" height="40" colspan="4"><b> Total: &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp ${{ sumador|sum() }} </b></td>
        </tr>
        

{% endfor %}


  </table>


<br><br><br><br><br><br>
<table align="center" border = "0" width="500">

<tr><td align="center" height="40"> Ingreso Jackson mensual </td>
    <td> ${{ returning[3][0] }}</td></tr>
<tr><td align="center" height="40"> Gastos mios mensual</td>
    <td>${{ returning[3][2] }}</td></tr>
<tr><td align="center" height="40"> Gastos papa mensual</td>
    <td>${{ returning[3][3] }}</td></tr>
<tr><td align="center" height="40"> Ganancia mensual</td>

    {% if returning[3][0] and returning[3][2] %}
    {% set resultado = returning[3][0] - returning[3][2] %}
    <td>${{ resultado }}</td>    
  
    {% elif returning[3][0] %}
    <td>${{ returning[3][0] }}</td>    

    {% elif returning[3][2] %}
    <td>${{ - returning[3][2] }}</td>

    {% endif %}
    </tr>




</table>


<br><br><br><br><br><br>
<table align="center" border = "0" width="500">

<tr><td align="center" height="40"> Todos los ingresos Jackson </td>
    <td> ${{ returning[4][0] }}</td></tr>
<tr><td align="center" height="40"> Todos los ahorros mios</td>
    <td> ${{ returning[4][1] }}</td></tr>
<tr><td align="center" height="40"> Total gastos mios en eeuu</td>
    <td>${{ returning[4][2] }}</td></tr>
<tr><td align="center" height="40"> Todos los gastos papa</td>
    <td>${{ returning[4][3] }}</td></tr>
<tr><td align="center" height="40"> Todas las ganancias totales</td>

    {% if returning[4][0] and returning[4][2] %}
    {% set resultado1 = returning[4][0] - returning[4][2] %}
    <td>${{ resultado1 }}</td>    
  
    {% elif returning[4][0] %}
    {% set resultado1 = returning[4][0] %}
    <td>${{ resultado1 }}</td>    

    {% elif returning[4][2] %}
    {% set resultado1 = - returning[4][2] %}
    <td>${{ resultado1 }}</td>

    {% endif %}
    </tr>


<tr><td align="center" height="40"> Lo mismo mas ahorros</td>

    
    {% if resultado1 and returning[4][1] %}
    {% set resultado2 = resultado1 + returning[4][1] %}
    <td>${{ resultado2 }}</td>    
  
    {% elif resultado1 %}
    <td>${{ resultado1 }}</td>    

    {% elif returning[4][1] %}
    <td>${{ returning[4][1] }}</td>

    {% endif %}
    </tr>

</table>


<br><br><br><br><br><br>
<table align="center" border = "0" width="600">
<tr>
<td colspan = "4" align="center" height="100">
<input type="submit" value="Volver a Inicio" name="opcion" style="height:50px;width:200px">
</td>
</tr>
</table>


<br><br><br><br><br><br>
</form>


</body>
</html>












