<!doctype html>
<html>

<head>
<title> Finanzas America </title>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-    BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-  Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <meta name = "viewport" content = "width = device-width">


<style type="text/css">
      input {position:relative;
          width:275px;
          height:80px;
          font-size:18px;}
   </style>

</head>

<body>
<center><h1> Inicio </h1></center>
<hr>
<br>

<form action="/" method="post">
<table align="center">
  <tr>
    <td><input type="submit" value="Cargar movimiento" name="opcion"></td>
  </tr>
  <tr>
    <td><input type="submit" value="Mostrar gastos por mes" name="opcion"></td>
  </tr>
</table>
</form>


</body>
</html>
